<?xml version="1.0" encoding="utf-8"?>
<ProxyConfig allowedReferers="*" mustMatch="false" logFile="proxylog.txt">
	<serverUrls>
		<!-- <serverUrl url="http://192.168.100.125:6080/arcgis/rest/services" matchAll="true"></serverUrl>
		<serverUrl url="http://192.168.100.83:6080/arcgis/rest/services" matchAll="true"></serverUrl>
		<serverUrl url="http://192.168.100.125:6080/arcgis/rest/services/*" matchAll="true"></serverUrl>-->
		
	</serverUrls>
</ProxyConfig>
<!-- See https://github.com/Esri/resource-proxy for more information -->
