<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
	<!--文件单位KB-->
    <httpRuntime requestValidationMode="2.0"  maxRequestLength="6000"/>
  </system.web>
  <system.diagnostics>
    <switches>
      <add name="TraceLevelSwitch" value="Info" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="agsProxyLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="\logs\auth_proxy.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
    <system.webServer>
        <staticContent>
        </staticContent>
    </system.webServer>
</configuration>
